footer {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
  padding-bottom: 30px;
  padding-top: 20px;

  .footer-text {
    p {
      color: #939596;
      font-size: 1.8vh;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }

  display: block;
  text-align: center;
  margin: 0 auto;


  .footer-social {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    a {
      img {
        width: 4.1vh;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}