@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto+Condensed:wght@700&display=swap');

.wall {
  background-image: url(../assets/img/321312312321.jpg);
  background-size: cover;
  height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
}

body {
  font-family: poppins;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  align-items: center;

  nav {
    align-items: center;
    display: flex;

    a:hover {
      color: #61892f;
      transition: 0.3s;
    }

    a {
      color: white;
      text-transform: uppercase;
      font-size: 2.2vh;
      text-indent: 10px;
      font-weight: bold;
      margin-left: 20px;
      text-align: center;
      letter-spacing: 2px;

    }
  }

  img {
    max-width: 11.5vh;
    margin-top: 10px;
  }
}

main {
  padding-top: 5%;
  padding-left: 5%;
  letter-spacing: 0.5px;


  .space {
    padding-bottom: 10px;
  }

  .spacex2 {
    padding-bottom: 40px;
  }


  .button {
    background-color: #60892f27;
    font-size: 2.2vh;
    border-radius: 5px;
    color: white;
    padding: 2vh 4vh 2vh 4vh;
    box-shadow: 5px 5px 33px #000000;
    position: inherit;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #60892f17;
      z-index: -2;
      border-radius: 8px;

    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(#61892f, 15%);
      transition: all .3s;
      border-radius: 8px;
      z-index: -1;
    }

    &:hover {

      &:before {
        width: 100%;
      }
    }
  }

  h1 {
    color: white;
    font-size: 8vh;
    max-width: 130vh;
  }

  p {
    font-size: 2.2vh;
    font-weight: 600;
  }

  .p-white {
    color: white;
    font-size: 2.2vh;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  margin-bottom: -2px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #61892f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.text-focus-in {
  -webkit-animation: text-focus-in 1.2s cubic-bezier(.55, .085, .68, .53) both;
  animation: text-focus-in 1.2s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}




.arrow {
  text-align: center;
  margin-top: -75px;

  a {
    img {
      max-width: 7.5vh;
    }
  }
}

nav {
  .linkedin {
    img {
      margin-left: 20px;
    }
  }

  .effect {
    padding-left: 0;
    margin-left: 10px;
  }

  a {
    img {
      max-width: 35px;
    }
  }
}

.effect {
  transition: transform 250ms, opacity 400ms;
}

.effect:hover {
  transform: scale(1.2);
  opacity: 0.3;
}