@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto+Condensed:wght@700&display=swap');

.wall {
  height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.493);
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

body {
  font-family: poppins;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}



header {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
  align-items: center;
  justify-content: space-between;

  nav {
    align-items: center;
    display: flex;

    a:hover {
      color: #61892f;
      transition: 0.3s;
    }

    a {
      color: white;
      text-transform: uppercase;
      text-indent: 10px;
      font-weight: bold;
      margin-left: 20px;
      text-align: center;
      letter-spacing: 2px;
    }
  }

  img {
    max-width: 10vh;
    margin-top: 10px;
  }
}

main {
  padding-top: 5%;
  max-width: 70%;
  letter-spacing: 0.5px;
  margin: 0 auto;


  .space {
    padding-bottom: 10px;
  }

  .spacex2 {
    padding-bottom: 40px;
  }


  .button {
    background-color: #60892f27;
    border-radius: 5px;
    color: white;
    padding: 2vh 4vh 2vh 4vh;
    box-shadow: 5px 5px 33px #000000;
    position: inherit;
    font-size: 1.3rem;
    font-weight: 600;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #60892f17;
      z-index: -2;
      border-radius: 8px;

    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(#61892f, 15%);
      transition: all .3s;
      border-radius: 8px;
      z-index: -1;
    }

    &:hover {

      &:before {
        width: 100%;
      }
    }
  }

  h1 {
    color: white;
    max-width: 130vh;
    font-size: 4rem;
    white-space: nowrap;
  }

  h1::after {
    content: '|';
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  p {
    font-weight: 600;
    font-size: 1.3rem;
  }

  .p-white {
    color: white;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  margin-bottom: -2px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #61892f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
  animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}




.arrow {
  text-align: center;
  margin-top: -75px;

  a {
    img {
      max-width: 5.5vh;
    }
  }
}

nav {
  .linkedin {
    img {
      margin-left: 20px;
    }
  }

  .effect {
    padding-left: 0;
    margin-left: 5px;
  }

  a {
    img {
      max-width: 32px;
    }
  }
}

.effect {
  transition: transform 250ms, opacity 400ms;
}

.effect:hover {
  transform: scale(1.2);
  opacity: 1;
}