@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto+Condensed:wght@700&display=swap");
.wall {
  background-image: url(../assets/img/321312312321.jpg);
  background-size: cover;
  height: 100vh;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
}

body {
  font-family: poppins;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav a:hover {
  color: #61892f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav a {
  color: white;
  text-transform: uppercase;
  font-size: 2vh;
  text-indent: 10px;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
  letter-spacing: 2px;
}

header img {
  max-width: 11vh;
  margin-top: 10px;
}

main {
  padding-top: 5%;
  padding-left: 5%;
  letter-spacing: 0.5px;
}

main .space {
  padding-bottom: 10px;
}

main .spacex2 {
  padding-bottom: 40px;
}

main .button {
  background-color: #60892f27;
  font-size: 2vh;
  border-radius: 5px;
  color: white;
  padding: 2vh 4vh 2vh 4vh;
  -webkit-box-shadow: 5px 5px 33px #000000;
          box-shadow: 5px 5px 33px #000000;
  position: inherit;
}

main .button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #60892f17;
  z-index: -2;
  border-radius: 8px;
}

main .button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #39501b;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 8px;
  z-index: -1;
}

main .button:hover:before {
  width: 100%;
}

main h1 {
  color: white;
  font-size: 7.5vh;
  max-width: 120vh;
}

main p {
  font-size: 2vh;
  font-weight: 600;
}

main .p-white {
  color: white;
  font-size: 2vh;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  margin-bottom: -2px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #61892f;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.arrow {
  text-align: center;
  margin-top: -75px;
}

.arrow a img {
  max-width: 7.5vh;
}

nav .linkedin img {
  margin-left: 20px;
}

nav .effect {
  padding-left: 0;
  margin-left: 10px;
}

nav a img {
  max-width: 3.5vh;
}

.effect {
  -webkit-transition: opacity 400ms, -webkit-transform 250ms;
  transition: opacity 400ms, -webkit-transform 250ms;
  transition: transform 250ms, opacity 400ms;
  transition: transform 250ms, opacity 400ms, -webkit-transform 250ms;
}

.effect:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.3;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: #222629;
  margin: 0;
}

p {
  color: #61892f;
}

h1 {
  color: #61892f;
}

h3 {
  color: #61892f;
}

a {
  color: #61892f;
  text-decoration: none;
}

.nav-mob {
  display: none;
}

#myBtn {
  display: none;
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: rgba(255, 0, 0, 0);
  /* Set a background color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
}

#myBtn img {
  max-width: 5.5vh;
}

#myBtn:hover {
  background-color: rgba(85, 85, 85, 0);
  /* Add a dark-grey background on hover */
}

.fields h1 {
  font-size: 6vh;
  text-align: center;
  padding-top: 100px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.fields .fields-p {
  font-size: 2vh;
  letter-spacing: 1px;
  padding-bottom: 100px;
  padding-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fields .fields-p .p1 {
  padding-right: 25px;
  text-align: left;
}

.fields .fields-p .p1 p {
  padding: 3vh 17vh 3vh 4vh;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.589);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.589);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.fields .fields-p .p1 p:hover {
  background-color: #2d411656;
}

.about {
  text-align: center;
  max-width: 110vh;
  margin: 0 auto;
}

.about h3 {
  font-size: 3vh;
}

.about p {
  font-size: 1.8vh;
  color: #939596;
  font-weight: 500;
  padding-bottom: 20px;
}

.portfolio {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.portfolio .port-grup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

.portfolio .line {
  background-color: #61892f;
  height: 0.1vh;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.portfolio h3 {
  font-size: 6vh;
}

.portfolio .port-grup {
  margin-left: 250px;
  margin-right: 250px;
}

.portfolio .port {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

.portfolio .port .port1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .port .port1 .port-left {
  margin-right: 20px;
}

.portfolio .port img {
  height: auto;
  max-width: 65vh;
  border-radius: 5px;
}

.portfolio .port a {
  font-size: 3vh;
  color: #61892f;
  font-weight: 600;
  max-width: 50px;
}

.portfolio .port p {
  font-size: 1.8vh;
  font-weight: 500;
  color: #939596;
  padding-bottom: 50px;
  text-align: left;
  margin-bottom: 0;
}

.grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.grow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.social-contact a img {
  max-width: 4vh;
  margin-right: 30px;
  margin-top: 50px;
}

.found {
  display: none;
  text-align: center;
  background-image: url(./img/branch_leaves_tropical_174042_3840x2160.jpg);
  background-position: right;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.664);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.664);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.found h3 {
  font-size: 3.5vh;
  font-weight: 600;
}

.found p {
  color: #939596;
  font-weight: 500;
  font-size: 1.8vh;
  letter-spacing: 1px;
}

footer {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
  padding-bottom: 30px;
  padding-top: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

footer .footer-text p {
  color: #939596;
  font-size: 1.5vh;
  padding-top: 10px;
  margin-bottom: 0;
}

footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
  margin: 0 auto;
}

footer .footer-social a img {
  width: 4.5vh;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .portfolio .port-grup {
    display: contents;
  }
  .portfolio .port-grup .port {
    margin-bottom: 50px;
    text-align: center;
  }
  .portfolio .port-grup .port p {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .portfolio .port-grup .port .port1 {
    margin: 0 auto;
    text-align: center;
  }
  .portfolio .port-grup .port .port1 a .port-left {
    margin-right: 0;
  }
  .portfolio .port-grup .port .port1 a .port-right {
    margin-left: 0;
  }
  .portfolio .port-grup .port .port1 a img {
    max-width: 300px;
    max-height: auto;
  }
  .about {
    padding-left: 50px;
    padding-right: 50px;
  }
  .fields .fields-p {
    display: -ms-grid;
    display: grid;
  }
  .fields .fields-p .p1 {
    padding-right: 0;
    padding: 15px;
  }
  .wall {
    height: 115vh;
  }
  main {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
  main p {
    font-size: 3vh;
  }
  main h1 {
    font-size: 5vh;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-top: 50px;
  }
  header .nav-mob {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header .nav-mob a {
    font-size: 2.5vh;
    font-weight: 600;
    margin-left: 40px;
    padding-top: 30px;
  }
  header nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */